# Directory to make available inside Docker for scanning.
# On Windows: SCAN_ROOT=C:/Users/YourName/code
# On Linux/Mac: SCAN_ROOT=/home/yourname/code
#
# The folder will be mounted at /scans inside the container.
# Enter /scans/<subfolder> as the path in the Sasty UI.
SCAN_ROOT=C:/Users
